
{% load static %}

<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>َAnimated Login Form</title>

    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">

  </head>

  <body>

<form class="box" action="" method="post">{% csrf_token %}

  <h1>Login</h1>
  <p> {% include 'blog/messages.html' %} </p>
  
  <input type="text" name="username" placeholder="Username">

  <input type="password" name="password" placeholder="Password">
  {{form.captcha}}

  <input type="submit" name="" value="Login">
  <a href="{% url 'accounts:signup' %}">Dont have account?/Signup</a>
  
</form>

  </body>

</html>

