{% load static %}

<!-- start footer Area -->		
<footer class="footer-area section-gap">
    <div class="container">

        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Agency</h6>
                    <p>
                        The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point 
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="{% url 'blog:home' %}">Home</a></li>
                                <li><a href="{% url 'accounts:contact' %}">Contact</a></li>

                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="{% url 'blog:home' %}">About</a></li>
                            </ul>
                        </div>										
                    </div>							
                </div>
            </div>							
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        For business professionals caught between high OEM price and mediocre print and graphic output.									
                    </p>								
                    <div >
                        <form action="{% url 'blog:newsletter' %}" method="post" class="subscription relative"> {% csrf_token %}
                            <div class="input-group d-flex flex-row">
                                <input name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn bb-btn" type="submit"><span class="lnr lnr-location"></span></button>		
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
</footer>
<!-- End footer Area -->	
        <script src="{% static 'blog/js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'blog/js/popper.min.js' %}"></script>
        <script src="{% static 'blog/js/vendor/bootstrap.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="{% static 'blog/js/jquery-ui.js' %}"></script>				
        <script src="{% static 'blog/js/easing.min.js' %}"></script>		
        <script src="{% static 'blog/js/hoverIntent.js' %}"></script>
        <script src="{% static 'blog/js/superfish.min.js' %}"></script>
        <script src="{% static 'blog/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'blog/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'blog/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'blog/js/mail-script.js' %}"></script>
        <script src="{% static 'blog/js/main.js' %}"></script>