{% load static %}
{% include 'blog/header.html' %}
{% load humanize %}
{% load inclusion_tags %}
	<!-- start banner Area -->
	<section class="banner-area relative blog-home-banner" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">				
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content blog-header-content col-lg-12">
					<h1 class="text-white">
						Welcome to My Django Blog
					</h1>	
					<p class="text-white">
						Here you can find everything about Python, Django and all needed to become a Backend-Developer
					</p>	
				</div>	
			</div>
		</div>
	</section>
	<!-- End banner Area -->				  

	<!-- Start top-category-widget Area -->
	<section class="top-category-widget-area pt-90 pb-90 ">
		<div class="container">
		</div>	
	</section>
	<!-- End top-category-widget Area -->
	
	<!-- Start post-content Area -->
	<section class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 posts-list">
					{% for post in posts %}
					<div class="single-post row">
						<div class="col-lg-3  col-md-3 meta-details">
							<ul class="tags">
								{% for cat in post.category.all %}
								<li><a href="{% url 'blog:category_posts' cat.slug %}">#{{cat.name}}</a></li>
								{% endfor %}
							</ul>
							<div class="user-details row">
								<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{post.author.get_full_name}}</a> <span class="lnr lnr-user"></span></p>
								<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{post.published_date|date:"d M Y"}}</a> <span class="lnr lnr-calendar-full"></span></p>
								<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{post.counted_views}} Views</a> <span class="lnr lnr-eye"></span></p>
								<p class="comments col-lg-12 col-md-12 col-6"><a href="#">Comments ro doros kon</a> <span class="lnr lnr-bubble"></span></p>						
							</div>
						</div>
						<div class="col-lg-9 col-md-9 ">
							<div class="feature-img">
								<img class="img-fluid" src= {{post.img.url}} alt="">
							</div>
							<a class="posts-title" href="{% url 'blog:detail' post.slug %}"><h3>{{post.title}}</h3></a>
							<p class="excert">
								{{post.content|truncatewords:40}}
							</p>
							<a href="{% url 'blog:detail' post.slug %}" class="primary-btn">View More</a>
						</div>
					</div>
					{% empty %}
					<h3> No posts at the moment </h3>
					{% endfor %}
					<nav class="blog-pagination justify-content-center d-flex">
						<ul class="pagination">
							{% if posts.has_previous %}
							<li class="page-item">
								{% if request.GET.q %}
									<a href="?page={{posts.previous_page_number}}&q={{ request.GET.q }}" class="page-link" aria-label="Previous">
								{% else %}
									<a href="{% url 'blog:home' posts.previous_page_number %}" class="page-link" aria-label="Previous">
								{% endif %}
									<span aria-hidden="true">
										<span class="lnr lnr-chevron-left"></span>
									</span>
								</a>
							</li>
							{% endif %}
							{% for i in posts.paginator.page_range %}
								{% if posts.number == i %}
								<li class="page-item active"><a href="#" class="page-link">{{i}}</a></li>
								{% else %}
									{% if request.GET.q %}
										<li class="page-item"><a href="?page={{ i }}&q={{ request.GET.q }}" class="page-link">{{ i }}</a></li>
									{% else %}
										<li class="page-item"><a href="{% url 'blog:home' i %}" class="page-link">{{ i }}</a></li>
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if posts.has_next %}
							<li class="page-item">
								{% if request.GET.q %}
								<a href="?page={{posts.next_page_number}}&q={{ request.GET.q }}" class="page-link" aria-label="Previous">
								{% else %}
								<a href="{% url 'blog:home' posts.next_page_number %}" class="page-link" aria-label="Next">
								{% endif %}
									<span aria-hidden="true">
										<span class="lnr lnr-chevron-right"></span>
									</span>
								</a>
							</li>
							{% endif %}
						</ul>
					</nav>
				</div>
				<div class="col-lg-4 sidebar-widgets">
					<div class="widget-wrap">
						{% include "blog/widget-search.html" %}
						{% include "blog/widget-writer.html" %}
						{% latest_post %}
						{% category_list %}
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- End post-content Area -->
	
	{% include 'blog/footer.html' %}

</body>
</html>
{% include 'blog/messages.html' %}