{% load static %}

<div class="single-sidebar-widget user-info-widget">
    <img style="max-width: 100px; border-radius: 50%;" src="{% static 'blog/img/blog/user-info.png' %}" alt="">
    <a href="#"><h4>Shayan</h4></a>
    <p>
        Junior Backend Developer
    </p>
    <ul class="social-links">
        <li><a href="https://github.com/Shayandehkhoda/"><i class="fa fa-github"></i></a></li>
        <li><a href="https://linkedin.com/in/shayan-dehkhoda"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <p>
        
    </p>
</div>